@charset "utf-8";

/*
	Exam 2
	IST 226 H01 Internet Programming | Carman
	
	Author: Heather Hickman
	Date: 7/29/2019
	Semester: Summer 2019
	File name: reset.css
*/


/* RESET */
html, body, article, aside, figcaption, figure,
footer, header, main, nav, section { 
    display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul,
table, tr, td, th, col, colgroup {
	font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
}


/* NAVS */

ul, ol {
   list-style: none;
}

nav ul {
   list-style: none;
}

nav a {
   text-decoration: none;
}